<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/Resources/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="~/Resources/CSS/font-awesome.min.css" rel="stylesheet">
    <link href="~/Resources/CSS/prettyPhoto.css" rel="stylesheet">
    <link href="~/Resources/CSS/price-range.css" rel="stylesheet">
    <link href="~/Resources/CSS/animate.css" rel="stylesheet">
    <link href="~/Resources/CSS/main.css" rel="stylesheet">
    <link href="~/Resources/CSS/responsive.css" rel="stylesheet">
    
</head><!--/head-->
<body>
    @*header*@
        @Html.Partial("_Header")

    <!--/header-->
        @Html.Partial("_Slider")
   

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        @Html.Partial("_Category")

                        @Html.Partial("_Supplier")

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_Footer")


    <script src="~/cdn/Resources/jquery.js"></script>
    <script src="~/cdn/Resources/bootstrap.min.js"></script>
    <script src="~/cdn/Resources/jquery.scrollUp.min.js"></script>
    <script src="~/cdn/Resources/price-range.js"></script>
    <script src="~/cdn/Resources/jquery.prettyPhoto.js"></script>
    <script src="~/cdn/Resources/main.js"></script>
</body>
</html>