@{
    Layout = null;
}

<link href="~/Resources/CSS/bootstrap.min.css" rel="stylesheet">
<link href="~/Resources/CSS/font-awesome.min.css" rel="stylesheet">
<link href="~/Resources/CSS/prettyPhoto.css" rel="stylesheet">
<link href="~/Resources/CSS/price-range.css" rel="stylesheet">
<link href="~/Resources/CSS/animate.css" rel="stylesheet">
<link href="~/Resources/CSS/main.css" rel="stylesheet">
<link href="~/Resources/CSS/responsive.css" rel="stylesheet">

@*header*@
@Html.Partial("_Header")
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="quantity">Discount</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product p in Wool.Web.Models.ShoppingCart.Cart.Items)
                    {
                        <tr>
                            <td class="cart_description">
                                <h4><a href="">@p.Name</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>@Html.FormatValue(p.UnitPrice, "{0:c}")</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@p.Quantity" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="cart_price">
                                <p>@Html.FormatValue(p.Discount, "{0:p}")</p>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@Html.FormatValue(p.UnitPrice * p.Quantity * (1 - p.Discount), "{0:c}")</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->