@model Wool.Web.ViewModels.Admin.AdminProductViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Product Manager</h2>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#edit" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-edit"></span>
                Edition
            </a>
        </li>
        <li role="presentation">
            <a href="#list" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-list"></span>
                List
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="edit">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        Product Edition
                    </h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Product",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        if (!Html.ValidationSummary().ToString().Contains(":none"))
                        {
                            <div class="pull-right label label-danger">

                                @Html.ValidationSummary()

                            </div>
                        }
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Id</label>
                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Unit Price</label>
                                @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Unit Brief</label>
                                @Html.TextBoxFor(m => m.UnitBrief, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Quantity</label>
                                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Discount</label>
                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Category</label>
                                @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Supplier</label>
                                @Html.DropDownList("SupplierId", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>ProductDate</label>
                                @Html.TextBoxFor(m => m.ProductDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Views</label>
                                @Html.TextBoxFor(m => m.Views, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Features</label>
                                <div class="form-control">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Available) Available?
                                    </label>
                                    <label>
                                        @Html.CheckBoxFor(m => m.Latest) Latest?
                                    </label>
                                    <label>
                                        @Html.CheckBoxFor(m => m.Special) Special?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Image</label>
                                <div class="form-control">
                                    <button type="button" id="hinh" class="label label-info">Chọn hình</button>
                                    <input type="file" name="upImage" />
                                    @Html.HiddenFor(m => m.Image, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Description</label>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="text-center btn-crud">
                                    <button class="btn btn-default" data-action="Insert">Insert</button>
                                    <button class="btn btn-default" data-action="Update">Update</button>
                                    <button class="btn btn-default" data-action="Delete">Delete</button>
                                    <button class="btn btn-default" data-action="Index">Reset</button>
                                </div>
                                <script>
                                    $(function () {
                                        $("button[data-action]").click(function () {
                                            var action = $(this).attr("data-action");
                                            this.form.action = "/Admin/Product/" + action;
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        Product List
                    </h3>
                </div>
                <table class="table table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Unit Price</th>
                            <th>Unit Brief</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Category</th>
                            <th>Supplier</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Item in ViewBag.Items)
                        {
                            <tr>
                                <td>@Item.Id</td>
                                <td>@Item.Name</td>
                                <td>@Item.UnitPrice</td>
                                <td>@Item.UnitBrief</td>
                                <td>@Item.Quantity</td>
                                <td>@Item.Discount</td>
                                <td>@Item.CategoryName</td>
                                <td>@Item.SupplierName</td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="/Admin/Product/Edit/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-sm btn-warning" href="/Admin/Product/Delete/@Item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#hinh").click(function () {
            $("input[name=upImage]").click();
        });
    });
</script>
<style>
    input[name=upImage] {
        width: 1px;
        height: 1px;
    }
</style>